{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
<h1>Om</h1>
<p>Denna sida är skapad i Symfony tillsammans med twig. Den är skapad för kursen objektorienterade webbteknologier på
    BTH.</p>
<p>Tanken är att denna sida ska växa och bli snyggare och bättre. Än sålänge är den inte mycket för världen.</p>
{% endblock %}