{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
<h1>About</h1>
<p>Jag heter Daniel Lindell och läser kursen "Objektorienterade webbteknologier" aka mvc.</p>
<p>Nedan ser du en bild på mig, eller något annat kul. Har inte bestämt mig än.</p>

<a href="{{ asset('img/glider.svg') }}">
    <img src="{{ asset('img/glider.svg') }}" alt="">
</a>
{% endblock %}