{% extends "base.html.twig" %}

{% block title %}Rapport sidan{% endblock %}

{% block body %}
<h1>dabo22's mvc sida</h1>
<p>Jag heter Daniel Lindell och läser kursen "Objektorienterade webbteknologier" aka mvc.</p>
<p>Nedan ser du en bild på mig, eller något annat kul. Har inte bestämt mig än.</p>

<a href="{{ asset('img/profile.jpg') }}">
    <img src="{{ asset('img/profile.jpg') }}" width= "200px" alt="">
</a>
{% endblock %}