body {
    background-color: lightgray;
}

.main {
    margin: 0 auto;
    max-width: 800px;
}

h1 {
    border-bottom: 4px double #ccc;
}

.site-header {
    height: 200px;
    background-size: cover;
}

.site-title {
    font-size: 25px;
}