body {
    background-color: lightgray;
    max-width: 800px;
}

.main {
    margin: 0 auto;
    max-width: 600px;
}

h1 {
    border-bottom: 4px double #ccc;
}

.site-header {
    height: 200px;
    background-size: cover;
}

.site-title {
    font-size: 25px;
}

.two-col-div {
    display: flex;
    width: 100%;
}

.left-col {
    flex: 0 0 75%;
    width: 75%;
}

.right-col {
    flex: 0 0 25%;
    width: 25%;
}
